/* Add your CSS code below */
.linklink--map {
  font-size: 0.9rem;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message--unread {
  border-left: 1px solid blue;
}
.message {
  opacity: 17em;
}
